html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
#dashboard {
    height: 97%;
}
#map {
    width: 85%;
    height: 100%;
    display: inline-block;
}
#levels {
    width: 15%;
    height: 100%;
    display: inline-block;
    float: right;
    background-color: #191919;
}
#legend {
    height: 3%;
    width: 100%;
    background-color: #191919;
    color: #dddddd;
    font-size: 80%;
}

/* Legend */

#legend ul, #legend li {
    display: inline;
}
#legend span {
    display: inline-block;
}
#legend li {
    margin-right: 1%;
}
#level_legend span, #no_data span {
    width: 1.5%;
    height: 40%;
    margin: 0 0.1%;
}
#level_legend span:first-of-type {
    background-color: #FF3532;
}
#level_legend span:nth-of-type(2) {
    background-color: #FF9B32;
}
#level_legend span:nth-of-type(3) {
    background-color: #96FF32;
}
#level_legend span:nth-of-type(4) {
    background-color: #E5FFCC;
}
#no_data span {
    background-color: #3296FF;
}
#our_sensor span {
    background: url("../images/marker-icon-grey.png") bottom no-repeat;
    width: 1.15%;
    height: 88%;
    background-size: 47%;
    vertical-align: bottom;
}
#other_sensor span {
    background: url("../images/marker-icon-white-grey.png") bottom no-repeat;
    width: 1.15%;
    height: 88%;
    background-size: 47%;
    vertical-align: bottom;
}

/* Level panel */

#selected {
    width: 90%;
    height: 23%;
    padding: 10% 0 10% 10%;
    color: #dddddd;
}
#selected div {
    margin: 3% 0;
}

.sensor_level_indicator span {
    width: 11%;
    height: 5.4%;
    display: inline-block;
}

.sensor_level_indicator span.low {
    background-color: #E5FFCC;
}

.sensor_level_indicator span.medium {
    background-color: #96FF32;
}

.sensor_level_indicator span.high {
    background-color: #FF9B32;
}

.sensor_level_indicator span.veryhigh {
    background-color: #FF3532;
}

.sensor_level_indicator span.nodata {
    background-color: #3296FF;
}

#slider, #date_view {
    width: 80%;
    margin: 10%;
}

#date_view {
    color: #dddddd;
}

#sensor_list {
    width: 80%;
    margin: 10% 10%;
    overflow-y: auto;
    height: 40%;

}
#sensor_list a {
    background-color: #eeeeee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

#sensor_list a:hover {
    background-color: #ccc;
}

#sensor_list a.active {
    background-color: #4CAF50;
    color: white;
}